# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# swp files
*.swp
*~

# compiled python files
*.pyc

#DS_Store
.DS_Store
.vscode

# Encrypted folders
client/enc/
client/indexes/
client/orig/
client/tmp/
server/enc/
server/indexes/

# Data
*.csv
*.csv_init_table.dat
*.gv
*.png